:root {
    --var-primarycolor: #494949;
    --var-secondarycolor: #313131;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: var(--var-primarycolor);
    align-items: center;
}

#logo {
    width: 150px;
    height: 100px;
}

main {
    display: flex;
}

aside {
    display: flex;
    background-color: var(--var-primarycolor);
    float: left;
}

aside ul li {
    display: flex;
    align-items: center;
    margin: 10px;
}

a{

    text-decoration: none;
    color: black;

}

#home-button img {
    width: 35px;
    margin-right: 5px;
}


#sports-button img {
    width: 35px;
    margin-right: 5px;
}

#mmo-button img {
    width: 35px;
    margin-right: 5px;
}

#moba-button img {
    width: 35px;
    margin-right: 5px;
}

#flex{

    display: flex;

}
#card-button img {
    width: 35px;
    margin-right: 5px;
}

#fighting-button img {
    width: 35px;
    margin-right: 5px;
}

#shooting-button img {
    width: 35px;
    margin-right: 5px;
}

#racing-button img {
    width: 35px;
    margin-right: 5px;
}

main section {
    background-color: #313131;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}



.tes:first-child {
    width: 30vw;
    color: white;
    background-color:#494949 ;
    grid-column-start: 2;
    grid-column-end: 4;
}

.tes:nth-child(2), .tes:nth-child(3) {
    background-color: #494949;
    padding: 1.5vw;
    border-radius: 8px;
}

.tes {
    background-color: yellow;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--var-secondarycolor);
}

#mais{
    background-color: #494949;
    border-radius: 8px;
    padding-bottom: 2%;
    color: white;
}
li:hover{
    color: #9305F2;
}
p:hover{
    color: #9305F2;
}
p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12%;
    font-size: 1.6vw;
}

h1{
    color: white;
}
#estrela{
    width: 3vw;
}